<div class="post-card border border-gray-300 rounded-md p-5 mb-5 bg-gray-100">
    <h4 class="font-semibold text-lg mb-5"><%= post.title %> </h4>
    <p>
        <%= post.text %>
    </p>

    <p class="text-right text-sm mt-3">Comments: 10 Likes: 4</p>
</div>